.line-paginator {
	text-align: center;
	border-top: 1px solid #eee;
	position: relative;
}

.line-paginator .line-paginator-top {
	position: absolute;
	top: -2px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgba(0,183,229,0.9);
	/*border-top: 1px solid red;*/
	transition: left .8s;

	box-shadow: 0 0 13px #2187e7;
}

.line-paginator .line-paginator-pages a {
	display: inline-block;
	color: #ccc;
	font-size: .9em;
	text-decoration: none;
	margin: -1px 0 0;
	padding: 1em 1em 0;
}		

.line-paginator .line-paginator-pages a:hover,
.line-paginator .line-paginator-pages a.current {
	color: #333;
}

.line-paginator .line-paginator-pages a.current {
	cursor: default;
}